{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification de la catégorie "{{ categorie.Categorie }}"</h1>
    <form method="post">
        <input type="text" name="Categorie" value="{{ categorie.Categorie }}">

        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}